- var imgPath = '/assets/images/';
- var svgPath = '/assets/images/svg/';
- var pageTitle = 'МГСН'

doctype html
html.no-js(lang="ru")
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		
		title= pageTitle
		meta(name='description', content="")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")

		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700')

		// build:css /assets/styles/vendor.css
		// bower:css
		link(rel='stylesheet', href='/../bower_components/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet', href='/../bower_components/owl.carousel/dist/assets/owl.carousel.css')
		link(rel='stylesheet', href='/../bower_components/owl.carousel/dist/assets/owl.theme.green.css')
		link(rel='stylesheet', href='/../bower_components/magnific-popup/dist/magnific-popup.css')
		// endbower
		// endbuild

		// build:css /assets/styles/main.css
		link(rel='stylesheet' href='assets/styles/main.css')
		// endbuild
		
		// build:js /assets/scripts/modernizr.js
		script(src='/../bower_components/modernizr/modernizr.js')
		// endbuild
	
	body.b-page
		.b-page__line.b-page__line--white.js-header
			.b-header
				.b-header__logo
					img.b-logo(src='assets/images/logo.png')

				.b-header__button
					a.b-button.b-button--green.b-button--callback.js-show-modal(href='#js-m-callback') Обратный звонок
				
				.b-header__phone +7 (495) 123-47-04
			
				.b-menu-toggle.js-menu-toggle 

			.b-menu.js-menu
				a.b-menu__item.js-scroll-animate(href='#special') Спецпредложения
				a.b-menu__item.js-scroll-animate(href='#process') Процесс
				a.b-menu__item.js-scroll-animate(href='#document') Необходимые документы
				a.b-menu__item.js-scroll-animate(href='#sms') Оценка по СМС
				a.b-menu__item.js-scroll-animate(href='#about') О компании
				a.b-menu__item.js-scroll-animate(href='#reviews') Отзывы
				a.b-menu__item.js-scroll-animate(href='#contacts') Контакты
		
		.b-page__line.b-page__line--main
			.b-main
				.b-main__title
					| Выкуп за 1 день.
					br
					| Квартир, комнат, долей в Москве и подмосковье
					br
					span.b-main__title--blue За счет собственных средств
					.b-main__box выдаем аванс в день обращения

				.b-main__form
					form.b-form.js-form-main#form-main(action='/ajax/form-main/', method='post', data-id='main')
						.b-form__title Оставьте заявку мы свяжемся с вами в течение 5 минут
						.b-form__fieldset
							.b-form__error.js-error-main
							.b-form__group.b-form__group--main
								input.b-input.b-input--text(name='name', type='text', placeholder='Ваше имя')
							.b-form__group.b-form__group--main
								input.b-input.b-input--text(name='phone', type='text', placeholder='+7 (123) 456-78-89', required)
							.b-form__group.b-form__group--main
								a.b-button.b-button--send.js-show-confirm(href='#') Отправить
								.b-form__data 
									img(src='/assets/images/icon-data.png', alt='')
									| &nbsp;Данные не передаются 3-м лицам
						
						.b-form__success.js-success-main Спасибо! Ваша заявка отправлена

				.b-main__why
					.b-why
						.b-why__title Почему выбирают нас?
						.b-why__content
							.b-why__item
								.b-why__image
									img(src='/assets/images/why-time.png', alt='')
								.b-why__text Рассмотрение
									br
									| в течение 
									br
									| часа
							.b-why__item
								.b-why__image
									img(src='/assets/images/why-agent.png', alt='')
								.b-why__text Выезд агента 
									br
									| для оценки
									br
									| бесплатно
							.b-why__item
								.b-why__image
									img(src='/assets/images/why-price.png', alt='')
								.b-why__text Оценка объекта — 
									br
									| 90% от рыночной
									br
									| стоимости
							.b-why__item
								.b-why__image
									img(src='/assets/images/why-solution.png', alt='')
								.b-why__text Принятие 
									br
									| решения выкупа
									br
									| за 1 день
							.b-why__item
								.b-why__image
									img(src='/assets/images/why-money.png', alt='')
								.b-why__text Временный 
									br
									| займ на время 
									br
									| оформления
						.b-why__footer
							img.b-why__logo(src='/assets/images/logo-white.png', alt='')
							.b-why__slogan 21 год на рынке

		.b-page__line.b-page__line--green
			.b-special#special
				.b-special__content
					.b-special__title Регистрация сделки в подарок!
					.b-special__counter
						.b-counter
							.b-counter__title Осталось:
							.b-counter__content#js-countdown
					.b-special__list
						ul.b-list
							li.b-list__item.b-list__item--checked Составление договора и регистрация в РОСРЕЕСТРЕ
							li.b-list__item.b-list__item--checked Проверка и пересчет денежных средств в Банке
							li.b-list__item.b-list__item--checked Оплата банковской депозитарной ячейки
							li.b-list__item.b-list__item--checked Бесплатная консультация юриста
							li.b-list__item.b-list__item--checked Вы не оплачиваете услуги агентства при срочном выкупе
				.b-special__form
					form.b-form.b-form--blue.js-form-phone-top#form-phone-top(action='/ajax/form-phone/', method='post', data-id='phone-top')
						.b-form__title.b-form__title--white
							span Оставьте заявку
							| мы свяжемся с вами в течение 5 минут
						.b-form__fieldset.b-form__fieldset--colum
							.b-form__error.js-error-phone
							.b-form__group
								input.b-input.b-input--white(name='phone', type='text', placeholder='+7 (123) 456-78-89', required)
							.b-form__button
								a.b-button.b-button--send.js-show-confirm(href='#') Отправить
							.b-form__text Мы свяжемся с вами в течение 5 минут
							.b-form__data 
								img(src='/assets/images/icon-data--white.png', alt='')
								| &nbsp;&nbsp;Данные не передаются 3-м лицам

						.b-form__success.js-success-phone-top Спасибо! Ваша заявка отправлена
						

		.b-page__line.b-page__line--white
			.b-process#process
				.b-process__title Продажа квартиры за 3-5 дней
				.b-process__step
					.b-step
						.b-step__item
							.b-step__day 1 
								span день
							.b-step__text Вы оставляете заявку 
								br
								| на сайте или звоните нам
								br
								br
								| В этот же день к Вам выезжает 
								br
								| эксперт по оценке объекта,
								br
								| оценка стоимости объекта
						.b-step__item.b-step__item--arrow
							img.b-step__arrow(src='/assets/images/icon-arrow.png', alt='')
						.b-step__item
							.b-step__day 2-3 
								span день
							.b-step__text проверка юридической
								br
								| чистоты объекта
								br
								br
								| Подготовка документов
								br
								| к сделке
						.b-step__item.b-step__item--arrow
							img.b-step__arrow(src='/assets/images/icon-arrow.png', alt='')
						.b-step__item
							.b-step__day 4-5 
								span день
							.b-step__text Проведение сделки
								br
								| через нотариуса
								br
								br
								| Получение денежных 
								br 
								| средств через 3 дня
				.b-process__document
					.b-document#document
						.b-document__title какие документы нужны?
						.b-document__text Минимальные требования к документам при срочном выкупе недвижимости
						.b-document__list
							.b-document__item
								.b-document__icon
									img(src='/assets/images/icon-pasport.png', alt='')
								.b-document__name
									b ПАСПОРТ ГРАЖДАНИНА РФ
									span возраст от 18 лет
							.b-document__item
								.b-document__icon
									img(src='/assets/images/icon-documents.png', alt='')
								.b-document__name
									b ДОКУМЕНТЫ
									span на недвижимость
		.b-page__line.b-page__line--green
			.b-sms#sms
				.b-sms__title 
					img(src='/assets/images/icon-mobile.png')
					| Оценка по СМС
				.b-sms__text Отправьте заявку с описанием вашего объекта 
					br
					| и получите предварительную оценку по смс в течение 15 минут!
				.b-sms__form
					form.b-form
						.b-form__group
							a.b-button.b-button--send.js-show-modal(href='#js-m-sms') Получить оценку
							.b-form__data 
								img(src='/assets/images/icon-data.png', alt='')
								| &nbsp;Данные не передаются 3-м лицам
		.b-page__line.b-page__line--white
			.b-calc
				.b-calc__title Узнайте реальную стоимость вашего объекта
				.b-calc__form
					form.b-form.js-form-calc(action='/ajax/form-calc/', method='post')
						.b-form__fieldset--colum
							.b-form__error.js-error-calc
							.b-form__step Шаг 1: 
								span введите ожидаемую стоимость вашего объекта
							.b-form__group.b-form__group--flex
								input.b-input.b-input--text.b-input--price(name='price', type='text', placeholder='500 000')
								select.b-input.b-input--select.b-input--green(name='currency')
									option(value='RUR') Руб.
									option(value='USD') $
									option(value='EUR') €
							.b-form__step Шаг 2: 
								span данные вашего объекта
							.b-form__group.b-form__group--flex
								.b-form__checkbox
									input.b-input.b-input--checkbox#i-c-flat(name='object_type', type='radio', checked=true, value='Квартира')
									label.b-label.b-label--checkbox(for='i-c-flat') Квартира
								.b-form__checkbox
									input.b-input.b-input--checkbox#i-c-room(name='object_type', type='radio', value='Комната')
									label.b-label.b-label--checkbox(for='i-c-room') Комната
								.b-form__checkbox
									input.b-input.b-input--checkbox#i-c-share(name='object_type', type='radio', value='Доля')
									label.b-label.b-label--checkbox(for='i-c-share') Доля
								.b-form__checkbox
									input.b-input.b-input--checkbox#i-c-house(name='object_type', type='radio', value='Дом')
									label.b-label.b-label--checkbox(for='i-c-house') Дом
								.b-form__checkbox
									input.b-input.b-input--checkbox#i-c-lot(name='object_type', type='radio', value='Участок')
									label.b-label.b-label--checkbox(for='i-c-lot') Участок
							.b-form__fieldset.b-form__fieldset--calc
								.b-form__group.b-form__group--calc
									label.b-label.b-label--select(for='i-c-type-house') Тип дома
									select.b-input.b-input--select.b-input--blue(name='type_house')
										option(value='Не выбрано') Выбрать
										option(value='Панель') Панель
										option(value='Кирпич') Кирпич
										option(value='Монолит') Монолит
								.b-form__group.b-form__group--calc
									label.b-label.b-label--select(for='i-c-rooms') количество комнат
									select.b-input.b-input--select.b-input--blue(name='rooms')
										option(value='Не выбрано') Выбрать
										option(value='1') 1
										option(value='2') 2
										option(value='3') 3
										option(value='4') 4
										option(value='5') 5
										option(value='6') 6
										option(value='7') 7
										option(value='8') 8
										option(value='9') 9
										option(value='10') 10
								.b-form__group.b-form__group--calc
									label.b-label.b-label--select(for='i-c-etage') этаж
									- var n = 1
									select.b-input.b-input--select.b-input--blue(name='etage')
										option Выбрать
										while n < 50
											option= n++
								.b-form__group.b-form__group--calc
									label.b-label.b-label--select(for='i-c-etage') общая площадь
									input.b-input.b-input--blue(type='text', name='square', placeholder='Введите площадь, м²')
							.b-form__fieldset.b-form__fieldset--calc
								.b-form__group.b-form__group--calc
									label.b-label.b-label--select(for='i-c-remont') качество ремонта
									select.b-input.b-input--select.b-input--blue(name='remont')
										option(value='Не выбрано') Выбрать
										option(value='Под ремонт') Под ремонт
										option(value='Муниципальная отделка') Муниципальная отделка
										option(value='Среднее') Среднее
										option(value='Хорошее') Хорошее
										option(value='Евро') Евро
										option(value='Элит') Элит
								.b-form__group.b-form__group--calc
									label.b-label.b-label--select(for='i-c-age') возраст
									- var n = 1
									select.b-input.b-input--select.b-input--blue(name='age')
										option Выбрать
										while n < 100
											option= n++
								.b-form__group.b-form__group--calc
									label.b-label.b-label--select(for='i-c-balcon') Балкон
									select.b-input.b-input--select.b-input--blue(name='balcon')
										option(value='Не выбрано') Выбрать
										option(value='Один балкон') Один балкон
										option(value='Два балкона') Два балкона
										option(value='Три балкона') Три балкона
										option(value='Одна лоджия') Одна лоджия
										option(value='Две лоджии') Две лоджии
										option(value='Три лоджии') Три лоджии

								.b-form__group.b-form__group--calc
									label.b-label.b-label--select(for='i-c-address') Адрес
									input.b-input.b-input--blue(type='text', name='address', placeholder='Тверская, д. 12, кв. 999')

							.b-form__button
								a.b-button.b-button--send.js-show-modal(href='#js-m-order') Узнайте стоимость
								.b-form__data 
									img(src='/assets/images/icon-data.png', alt='')
									| &nbsp;Данные не передаются 3-м лицам
						.b-form__success.js-success-calc Спасибо! Ваша заявка отправлена

		.b-page__line.b-page__line--blue
			.b-about#about
				.b-about__title О компании
				.b-about__text 
					p Уже 21 год Московская Городская Служба Недвижимости оказывает качественные и доступные услуги, ориентируясь на потребности клиентов и учитывая тенденции на рынке недвижимости.
					.b-about__info
						img.b-about__logo(src='/assets/images/logo-white.png', alt='')
						.b-about__slogan 21 год на рынке
					p С 1999 года агентство МГСН, по результатам ежегодного рейтинга журнала "ЭКСПЕРТ", входит в число 100 российских компаний с лучшей репутацией.
					p С 2000 года компания становится уполномоченным дилером Правительства Москвы по реализации муниципального жилья и входит в пятерку лидеров среди агентств недвижимости Москвы.
					p На сегодняшний день компания успешно совершает срочные выкупы за счет собственных средств 
		.b-page__line.b-page__line--white
			.b-banks
				.b-banks__title банки партнеры
				.b-banks__list
					.b-banks__item
						img(src='/assets/images/bank-mts.png', alt='')
					.b-banks__item
						img(src='/assets/images/bank-vtb24.png', alt='')
					.b-banks__item
						img(src='/assets/images/bank-moscva.png', alt='')
					.b-banks__item
						img(src='/assets/images/bank-raiff.png', alt='')
					.b-banks__item
						img(src='/assets/images/bank-uni.png', alt='')
					.b-banks__item
						img(src='/assets/images/bank-ros.png', alt='')
					.b-banks__item
						img(src='/assets/images/bank-absolut.png', alt='')

		.b-page__line.b-page__line--green
			.b-consultants
				.b-consultants__title Вас консультируют:
				.b-consultants__list
					.b-consultants__item
						.b-consultant
							img.b-consultant__image(src='/assets/images/consultant-nahschunov.png', alt='')
							.b-consultant__name Роман Нахшунов
							.b-consultant__work Руководитель проекта
					.b-consultants__item
						.b-consultant
							img.b-consultant__image(src='/assets/images/consultant-luzgina.png', alt='')
							.b-consultant__name Ярослава Лузгина
							.b-consultant__work Ведущий эксперт
					.b-consultants__item
						.b-consultant
							img.b-consultant__image(src='/assets/images/consultant-kovalenko.png', alt='')
							.b-consultant__name Алёна коваленко
							.b-consultant__work Ведущий эксперт

		.b-page__line.b-page__line--white
			.b-results
				.b-results__title Наши результаты (недавно выкупленные объекты)
				.b-results__list.owl-theme.owl-carousel.js-carousel
					.b-results__item
						img.b-results__image(src='/assets/images/results-image-1.png')
						.b-results__description м. Октябрьская, ул. Шаболовка д.17 
							br
							| 2-комнатная квартира 50 м.кв 5/10 кирпичного дома. Квартира была под залогом у банка. Выкупили за 3 дня, выдали аванс для погашения просрочки платежей в день обращения. 

					.b-results__item
						img.b-results__image(src='/assets/images/results-image-2.png')
						.b-results__description м. Улица 1905 года, ул.Пресненский вал д.5
							br
							| 2-х комнатная квартира  57 м.кв. ,1/8 кирпичного дома. квартира с долгами по коммунальным платежам. Выдали аванс на следующий день после обращения. после погашения долгов , выкупили за два  дня.
					.b-results__item
						img.b-results__image(src='/assets/images/results-image-3.png')
						.b-results__description г. Люберцы, ул. Инициативная 1к3
							br
							| 1-комнатная квартира 37 м.кв., 3/14 панельного дома. Собственнику срочно требовались денежные средства, не было свидетельства о собственности. Восстановили документы. Выкупили за пять дней.
					.b-results__item
						img.b-results__image(src='/assets/images/results-image-4.png')
						.b-results__description м. Царицыно, ул. Элеваторная 1к3
							br
							| 3-комнатная квартира 60 м.кв.  10/17 панельного дома. Квартира под ипотекой. Сняли обременение с привлечением собственных средств. Выкупили за три дня.
					.b-results__item
						img.b-results__image(src='/assets/images/results-image-5.png')
						.b-results__description г. Долгопрудный, ул. Маяковского 33
							br
							| 2-х комнатная квартира , 58 м.кв., 2/9 кирпичного дома. Потребность в обмене и переезде.  2 доли по ½. Выкупили за три дня. 
					.b-results__item
						img.b-results__image(src='/assets/images/results-image-6.png')
						.b-results__description м. Алтуфьево, ул. Абрамцевская 14
							br
							| 3-х комнатная квартира , 80 м.кв. 6/12 панельного дома . Квартира под залогом. Выдали аванс в день обращения. Выкупили за 3 дня. 
					.b-results__item
						img.b-results__image(src='/assets/images/results-image-7.png')
						.b-results__description м. Новокосино  ул. Суздальская 36к2
							br
							| 1-комнатная квартира , 38 м.кв. 3/14 панельного дома . Срочная продажа для покупки альтернативы. Выкупили за два дня.
					.b-results__item
						img.b-results__image(src='/assets/images/results-image-8.png')
						.b-results__description м. Кунцевская ул. Коцюбинского 7к1
							br
							| 1/3 панельного дома , комната в 2-х комнатной квартире с долгами по коммунальным платежам. Выдали аванс в день обращения. выкупили за три дня. 
					.b-results__item
						img.b-results__image(src='/assets/images/results-image-9.png')
						.b-results__description г. Красногорск, Павшинская пойма, Подмосковный бульвар 8
							br
							| 3-х комнатная квартира, 65 м.кв.  Квартира с обременением. Сняли залог  на следующий день после обращения. В .
					.b-results__item
						img.b-results__image(src='/assets/images/results-image-10.png')
						.b-results__description м. Савеловская, ул. Полковая 20
							br
							| 4-х комнатная квартира, 108,2 м.кв. Квартира под ипотекой, сняли обременение. Выкупили за 4 дня. 

		.b-page__line.b-page__line--gray
			.b-reviews#reviews
				.b-reviews__title Отзывы наших клиентов
				.b-reviews__list.owl-theme.owl-theme--green.owl-carousel.js-carousel
					.b-reviews__item
						.b-results__text Хотим поблагодарить  Матвея (отделение МГСН Пресня) за отлично проделанную работу и профессионализм. Квартиру продали быстро и без проволочек. Матвей смог организовать большое количество просмотров за короткий срок, всю рутинную работу по оформлению документов взял на себя. И мы и наши покупатели остались очень довольны быстрой и без проблемной сделкой. С Матвеем было очень приятно иметь дело. Всем рекомендую Московскую Городскую Службу Недвижимости.
						.b-results__author 
					.b-reviews__item
						.b-results__text В январе 2015 году, когда встал вопрос покупки квартиры, подруга порекомендовала мне обратиться к Станиславу (МГСН отделение Пресня). Время для решения вопросов с недвижимостью было не лучшее и, если бы не его профессионализм, понимание рынка, нацеленность на результат, 100% защита моих интересов и, что немало важно, моральная поддержка, не знаю, чем бы завершилась та эпопея. С тех пор я уже ни один раз обращалась к Станиславу и рекомендовала его друзьям и родственникам. Мы все остались очень довольны его работой. Станислав, удачи вам и, уверена, еще посотрудничаем. 
						.b-results__author С уважением, Наталья
					.b-reviews__item
						.b-results__text Хотим поблагодарить Романа  . Ранее мы обращались в другое агентство, но квартира не продавалась более полугода. Роману удалось продать наше квартиру за неделю! Кроме того, он учел все наши пожелания и запросы относительно покупки квартиры. Теперь мы живем в квартире мечты! Спасибо Вам за терпение, профессионализм, гибкость, готовность отвечать на множество вопросов и за отстаивание наших интересов. Мы очень довольны, большое человеческое спасибо. На Вас можно положиться. Самая высокая оценка! 
						.b-results__author С уважением, Георгий
					.b-reviews__item
						.b-results__text Мария, выражаем Вам слова искренней благодарности за успешное сопровождение и завершение нашей сделки. Успешное завершение сделки является результатом Вашей высокопрофессиональной, ответственной и оперативной работы. Ваше уважительное и внимательное отношение к пожеланиям клиентов позволяют быстро найти правильные и взаимовыгодные решения. Желаем Вам дальнейших успехов в Вашей профессиональной деятельности! Большое Вам спасибо! 
						.b-results__author С уважением, Ольга
					.b-reviews__item
						.b-results__text Не верилось, что в нынешней экономической ситуации можно оперативно и при этом довольно успешно решать проблемы с недвижимостью. К счастью, благодаря замечательным деловым качествам, профессиональному подходу и доброжелательному участию Татьяны, нам удалось в неожиданно короткий срок и за достойную цену продать квартиру в Митино и тем самым реализовать давнюю семейную мечту – заиметь жилье у теплого моря. Огромное за это спасибо.
						.b-results__author 
					.b-reviews__item
						.b-results__text Роман выражаем благодарность за ваш высокий профессионализм, оперативность, индивидуальный подход к клиенту и добросовестное отношение к делу. Мы смело будем рекомендовать вас и ваши деловые качества друзьям и знакомым. Обязательно обратимся к вам за помощью в дальнейшем. Приятно, когда человек получает удовольствие от своей работы и ценит интересы клиента. Роман, спасибо Вам огромное не только за профессиональный подход, но и за чисто человеческое отношение к клиентам. «…Вы отвечаете лучшим качествам специалиста по работе с недвижимостью!»
						.b-results__author 
				.b-reviews__form
					form.b-form__button
							a.b-button.b-button--send.js-show-modal(href='#js-m-review') оставить отзыв

		.b-page__line.b-page__line--blue
			.b-contacts#contacts
				.b-contacts__title Контакты
				.b-contacts__list
					.b-contacts__item
						.b-contacts__name Адрес:
						.b-contacts__text 143400, г. Москва, 
							br
							| Пресненский Вал 8 к.1
					.b-contacts__item
						.b-contacts__name Телефон:
						.b-contacts__text +7 (495) 123-47-04
					.b-contacts__item
						.b-contacts__name график работы:
						.b-contacts__text Круглосуточно
		.b-page__line.b-page__line--map
			.b-map#ymap
			.b-map__content
				.b-map__form
					form.b-form.b-form--blue.js-form-phone-bottom#form-phone-bottom(action='/ajax/form-phone/', method='post', data-id='phone-bottom')
						.b-form__title.b-form__title--white 
							span Оставьте заявку 
							| мы свяжемся с вами в течение 5 минут
						.b-form__fieldset.b-form__fieldset--colum
							.b-form__error.js-error-phone
							.b-form__group
								input.b-input.b-input--white(name='phone', type='text', placeholder='+7 (123) 456-78-89', required)
							.b-form__button
								a.b-button.b-button--send.js-show-confirm(href='#') Отправить
							.b-form__text Мы свяжемся с вами в течение 5 минут
							.b-form__data 
								img(src='/assets/images/icon-data--white.png', alt='')
								| &nbsp;Данные не передаются 3-м лицам
						.b-form__success.js-success-phone-bottom Спасибо! Ваша заявка отправлена
		
		.b-window.b-window--callback.mfp-hide#js-m-callback
			.b-window__content
				.b-window__form
					form.b-form.js-form-callback#form-callback(action="/ajax/form-callback/", method="post", data-id='callback')
						.b-window__title Для заказа обратного звонка заполните форму ниже:
						.b-form__fieldset.b-form__fieldset--colum
							.b-form__error.js-error-callback
							.b-form__group.b-form__group--line
								label.b-form__label.b-form__label--icon(for="i-name--callback") Ваше имя
								input.b-input.b-input--white.b-input--icon#i-name--callback(name="name", type="text", placeholder="Иван Сидорович")
	
							.b-form__group.b-form__group--line
								label.b-form__label.b-form__label--icon(for="i-phone--callback") Ваш телефон
									span.b-form__required *
								input.b-input.b-input--white.b-input--icon#i-phone--callback(name="phone", type="text", placeholder="+7 (495) 55 75 45", required)
	
							.b-form__button
								a.b-button.b-button--send.js-show-confirm(href='#') Заказать звонок

						.b-form__success.js-success-callback Спасибо! Ваша заявка отправлена.

		.b-window.b-window--callback.mfp-hide#js-m-order
			.b-window__content
				.b-window__form
					form.b-form.js-form-order#form-order(action="/ajax/form-order/", method="post", data-id='order')
						.b-window__title Узнайте более точную стоимость при выкупе
						.b-form__fieldset.b-form__fieldset--colum
							.b-form__error.js-error-order
							.b-form__group.b-form__group--line
								label.b-form__label.b-form__label--icon(for="i-name--order") Ваше имя
								input.b-input.b-input--white.b-input--icon#i-name--order(name="name", type="text", placeholder="Петр Иванович")
	
							.b-form__group.b-form__group--line
								label.b-form__label.b-form__label--icon(for="i-phone--order") Ваш телефон
									span.b-form__required *
								input.b-input.b-input--white.b-input--icon#i-phone--order(name="phone", type="text", placeholder="+7 (495) 154-45-52", required)

							.b-form__group.b-form__group--line
								label.b-form__label.b-form__label--icon(for="i-email--order") Ваш email
								input.b-input.b-input--white.b-input--icon#i-phone--order(name="email", type="text", placeholder="example@mail.com")
	
							.b-form__button
								a.b-button.b-button--send.js-show-confirm(href='#') Отправить заявку

						.b-form__success.js-success-order Спасибо! Ваша заявка отправлена.

		.b-window.b-window--review.mfp-hide#js-m-review
			.b-window__content
				.b-window__form
					form.b-form.js-form-review(action="/ajax/form-review/", method="post")
						.b-window__title Отзыв о нашей работе
						.b-window__note Мы уважаем Ваше мнение и обязательно ответим на Ваши обращения
						.b-form__fieldset.b-form__fieldset--colum
							.b-form__error.js-error-review
							.b-form__group.b-form__group--line
								label.b-form__label.b-form__label--icon(for="i-name--review") Ваше имя
									span.b-form__required *
								input.b-input.b-input--white.b-input--icon#i-name--review(name="name", type="text", placeholder="Петр Иванович", required)
	
							.b-form__group.b-form__group--line
								label.b-form__label.b-form__label--icon(for="i-phone--review") Ваш e-mail
									span.b-form__required *
								input.b-input.b-input--white.b-input--icon#i-phone--review(name="email", type="text", placeholder="example@mail.com", required)
	
							.b-form__group.b-form__group--line
								label.b-form__label.b-form__label--icon(for="i-phone--review") Комментарий
									span.b-form__required *
								textarea.b-input.b-input--white.b-input--textarea#i-phone--review(name="comment", placeholder="...", required)
	
							.b-form__button
								button.b-button.b-button--send.js-send-review(type="submit") Отправить

						.b-form__success.js-success-review Спасибо! Ваша отзыв отправлен.

		.b-window.b--window--dialog.mfp-hide#js-m-confirm
			.b-window__content
				.b-window__title.b-window__title--center Ваш номер: 
					nobr
						span.b-window__title--phone.js-confirm-phone
						| ?
				form.b-form
					.b-form__fieldset--colum
						.b-form__button.b-form__button--right
							a.b-button.b-button--confirmation.js-confirm-close(href="#") Исправить
							a.b-button.b-button--confirmation.js-confirm-ok(href="#") Да, верно

		.b-window.b-window--sms.mfp-hide#js-m-sms
			.b-window__content
				.b-window__form
					form.b-form.js-form-sms#form-sms(action="/ajax/form-sms/", method="post", data-id='sms')
						.b-window__title Оценка стоимости недвижимости при срочном выкупе
						.b-window__note Отправьте заявку с описанием вашего объекта и получите предварительную оценку по смс в течение 15 минут!
						.b-form__fieldset--colum
							.b-form__error.js-error-calc
							.b-form__step Шаг 1: 
								span данные вашего объекта
							.b-form__group.b-form__group--flex
								.b-form__checkbox
									input.b-input.b-input--checkbox#i-s-flat(name='object_type-s', type='radio', checked=true, value='Квартира')
									label.b-label.b-label--checkbox(for='i-s-flat') Квартира
								.b-form__checkbox
									input.b-input.b-input--checkbox#i-s-room(name='object_type-s', type='radio', value='Комната')
									label.b-label.b-label--checkbox(for='i-s-room') Комната
								.b-form__checkbox
									input.b-input.b-input--checkbox#i-s-share(name='object_type-s', type='radio', value='Доля')
									label.b-label.b-label--checkbox(for='i-s-share') Доля
								.b-form__checkbox
									input.b-input.b-input--checkbox#i-s-house(name='object_type-s', type='radio', value='Дом')
									label.b-label.b-label--checkbox(for='i-s-house') Дом
								.b-form__checkbox
									input.b-input.b-input--checkbox#i-s-lot(name='object_type-s', type='radio', value='Участок')
									label.b-label.b-label--checkbox(for='i-s-lot') Участок
							.b-form__fieldset.b-form__fieldset--calc
								.b-form__group.b-form__group--calc
									label.b-label.b-label--select(for='i-s-type-house') Тип дома
									select.b-input.b-input--select.b-input--blue(name='type_house')
										option(value='Не выбрано') Выбрать
										option(value='Панель') Панель
										option(value='Кирпич') Кирпич
										option(value='Монолит') Монолит
								.b-form__group.b-form__group--calc
									label.b-label.b-label--select(for='i-s-rooms') количество комнат
									select.b-input.b-input--select.b-input--blue(name='rooms')
										option(value='Не выбрано') Выбрать
										option(value='1') 1
										option(value='2') 2
										option(value='3') 3
										option(value='4') 4
										option(value='5') 5
										option(value='6') 6
										option(value='7') 7
										option(value='8') 8
										option(value='9') 9
										option(value='10') 10
								.b-form__group.b-form__group--calc
									label.b-label.b-label--select(for='i-s-etage') этаж
									- var n = 1
									select.b-input.b-input--select.b-input--blue(name='etage')
										option Выбрать
										while n < 50
											option= n++
								.b-form__group.b-form__group--calc
									label.b-label.b-label--select(for='i-s-etage') общая площадь
									input.b-input.b-input--blue(type='text', name='square', placeholder='Введите площадь, м²')
							.b-form__fieldset.b-form__fieldset--calc
								.b-form__group.b-form__group--calc
									label.b-label.b-label--select(for='i-s-remont') качество ремонта
									select.b-input.b-input--select.b-input--blue(name='remont')
										option(value='Не выбрано') Выбрать
										option(value='Под ремонт') Под ремонт
										option(value='Муниципальная отделка') Муниципальная отделка
										option(value='Среднее') Среднее
										option(value='Хорошее') Хорошее
										option(value='Евро') Евро
										option(value='Элит') Элит
								.b-form__group.b-form__group--calc
									label.b-label.b-label--select(for='i-s-age') возраст
									- var n = 1
									select.b-input.b-input--select.b-input--blue(name='age')
										option(value='Не выбрано') Выбрать
										while n < 100
											option= n++
								.b-form__group.b-form__group--calc
									label.b-label.b-label--select(for='i-s-balcon') Балкон
									select.b-input.b-input--select.b-input--blue(name='balcon')
										option(value='Не выбрано') Выбрать
										option(value='Один балкон') Один балкон
										option(value='Два балкона') Два балкона
										option(value='Три балкона') Три балкона
										option(value='Одна лоджия') Одна лоджия
										option(value='Две лоджии') Две лоджии
										option(value='Три лоджии') Три лоджии
							.b-form__step Шаг 2: 
								span введите контактные данные	
							.b-form__fieldset.b-form__fieldset--calc
								.b-form__group.b-form__group--calc
									label.b-label.b-label--select(for='i-s-name') Ваше имя
										span.b-form__required *
									input.b-input.b-input--blue(type='text', name='name', placeholder='Иван Петрович', required)
								.b-form__group.b-form__group--calc
									label.b-label.b-label--select(for='i-s-phone') Ваш телефон
										span.b-form__required *
									input.b-input.b-input--blue(type='text', name='phone', placeholder='+7 (499) 70-70-50', required)
								.b-form__group.b-form__group--contact
									label.b-label.b-label--select(for='i-s-address') Адрес (дом, строение, корпус)
										span.b-form__required *
									input.b-input.b-input--blue(type='text', name='address', placeholder='ул. Тверская, д. 25', required)
								
							.b-form__button
								button.b-button.b-button--send.js-show-confirm(href='#') Узнайте стоимость
								.b-form__data 
									img(src='/assets/images/icon-data.png', alt='')
									| &nbsp;Данные не передаются 3-м лицам

						.b-form__success.js-success-sms Спасибо! Ваша заявка отправлена.

		script(src='http://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')
		script.
			var ymap_coordinates = [55.765451, 37.564631];
			ymaps.ready(function(){
				ymap = new ymaps.Map('ymap', {
					center: ymap_coordinates,
					zoom: 15,
					controls: [/*'zoomControl',*/ 'typeSelector'],
					autoFitToViewport: 'ifNull'
				});
				var placemark = new ymaps.Placemark(ymap_coordinates, {}, {
					iconLayout: 'default#image',
					iconImageHref: '/assets/images/ymap.png',
					iconImageSize: [82, 127],
					iconImageOffset: [-41, -127]
				});
				ymap.geoObjects.add(placemark);
			});
		
		// build:js /assets/scripts/vendor.js
		// bower:js
		script(src="/../bower_components/jquery/dist/jquery.js")
		// endbower
		// endbuild
		
		// build:js /assets/scripts/plugins.js
		script(src="/../app/assets/scripts/libs/countdow.js")
		script(src="/../app/assets/scripts/libs/jquery.maskedinput.js")
		script(src="/../bower_components/magnific-popup/dist/jquery.magnific-popup.min.js")
		script(src="/../bower_components/owl.carousel/dist/owl.carousel.min.js")
		script(src="/../bower_components/jquery-form-styler/jquery.formstyler.js")
		script(src='/assets/scripts/serialize.jquery.js')
		// endbuild
		
		// build:js /assets/scripts/main.js
		script(src="/assets/scripts/main.js")
		// endbuild